html { overflow: hidden }
body { background: none; color: #333333; font-family: Arial,Helvetica,sans-serif; font-size: 12px; line-height: 18px; }
a { cursor: pointer }
a:hover { text-decoration: underline !important; cursor: hand; color: #7F3785 !important;}
a:link, a:visited { text-decoration: none; color: #0095c7; outline: none; }
a.disabled, a.disabled:hover { color: #ccc!important; cursor: default!important; text-decoration: none; text-shadow: none; }
label { color: #666; font-weight: bold; vertical-align: middle; }
p { line-height: 1.4em }
img { border: none; vertical-align: middle;}
h2 { color: #333 }
h3 { margin: 20px 0 10px; padding: 0; font-size: 13px; }
::-webkit-input-placeholder { color: #999 }
:-moz-placeholder { color: #999 }
:-ms-input-placeholder { color: #999 }

#wrapper { width: 100%; min-width: 740px; padding: 0 10px 15px 0px !important; position: relative; margin-left: 5px; }
.content.twoColN .pagecontent .leftcol { width: 190px !important; min-height: 0px !important; margin: 20px 0 0; padding: 0 0px 0px 15px; }
.content.twoColN .pagecontent .contentcol { margin-left: 8px !important; margin-top: 20px; padding-top: 0; padding-left: 0; overflow-x: hidden; overflow-y: auto; width: 80%; min-height: 0px }
.content.oneCol .pagecontent .contentcol { margin-left: 0px !important; margin-top: 20px; padding-top: 0; padding-left: 0; overflow-x: hidden; overflow-y: auto; width: 100%; min-height: 0px}
.content { padding-bottom: 0px }
.content.oneCol .pagecontent #wrapper {width: 96%; margin: auto !important}
.content, .pagecontent { width: auto }

/* -------------------------------------------
      End - Styles for Layout/Contents
   ------------------------------------------- */

   .ud-pagetitle, .pagetitle {border-bottom: 1px dotted #666666; margin: 0 !important; padding: 24px 16px 10px 16px !important;}
.ud-pagetitle span.titleUser, .pagetitle span.titleUser { margin-left: 8px; color: #333333; font-size: 20px; line-height: 20px; font-weight: normal; }
.ud-pagetitle span.titlePage, .pagetitle span.titlePage { color: #333333; font-size: 20px; line-height: 20px; font-weight: bold; }
.ud-pagetitle img, .pagetitle img { float: left; margin-right: 5px; padding-top: 2px; vertical-align: baseline; }
.ud-pagetitle h1, .pagetitle h1 { color: #000000; font-size: 20px; font-weight: bold; line-height: 20px; margin: 0 !important; display: inline; }
.eas { background-color: #eaa81b }
.eas a:link, .eas  a:visited, .ncc-eas a:link, .ncc-eas a:visited { text-decoration: none; color: #fff; }
.eas.legend { background-color: #FFF; border: 2px solid #00a8e0; color: #00a8e0; margin: 0 0 0 10px !important; font-size: 10px!important; font-family: Arial!important; padding: 2px 11px 3px 11px !important; width: auto; }
.indicator { position: relative }
.indicator label { color: #626262!important; float: right; }
.eas { float: left; display: inline; font-family: Arial; font-size: 14px; font-weight: bold; line-height: 11px; margin: 0 10px 0 0; padding: 4px 11px 5px 11px; text-transform: uppercase; }
.eas-eefirst { margin: 0 3px 0 17px }
.eas-ee { margin-right: 3px;}
.whitefont { color: #FFFFFF }
ul.hnavListnew { margin: 15px 0 0 0 !important; padding: 0 !important; display: block; font-family: Arial; overflow: hidden; }
ul.hnavListnew li.first { border: 0; padding-left: 0; margin-left: 0; }
ul.hnavListnew li { display: inline; border-left: 1px dotted #999999; margin: 0 0 0 35px; padding: 0 0 0 35px; font-size: 11px; font-weight: bold; color: #666; height: 60px; }
ul.hnavListnew li a.selected { color: #666; text-decoration: none; font-weight: bold; }
ul.hnavListnew li .data { font-size: 18px; color: #6a7176; font-weight: bold; margin-top: 6px; }
/* -------------------------------------------
      START - styles for header
   ------------------------------------------- */
header{height:80px;position:relative;}
.headercontent{background: url(../images/header_cloud_1345x80.jpg) repeat-x;filter:none;height:80px;margin-right:0;padding:0px 0px 0px 0px !important;position:relative;width:100%;}
.logo{height:80px;}
.logo img{margin:10px 0 11px 16px;}
.globalutil{clear:both;color:#fff;font-size:11px;position:absolute;right:44px;top:5px;width:500px;}
.globalutil a.btnSmall{color:#fff !important;}
.globalutil .search{line-height:18px;}
.globalutil a:link, #globalutil a:visited{color:#009BD9 !important;line-height:100%;padding:0;}
.globalutil ul{float:right;line-height:22px;list-style-type:none;margin:0;padding:0;}
.globalutil ul li.last{font-size:11px;}
.globalutil ul li{color:#666;float:left;font-family:Arial;font-size:10px;font-weight:bold;margin-left:5px;padding-left:5px;text-transform:uppercase;}
.globalsearch{overflow:visible;position:absolute;right:44px;top:33px!important;width:220px;}
.searchBox{background-color:#FFFFFF;border:1px solid #5EC2EB;margin:0;moz-box-shadow:0 20px 15px -20px #FFF;overflow:visible;padding:0 0 0 0;position:relative;box-shadow:none;}
.searchBox .btnSubmit{height:17px;right:1px;top:1px;width:19px;}
html.ie6 .searchBox .btnSubmit, html.ie7 .searchBox .btnSubmit,html.ie8 .searchBox .btnSubmit{top:1px;}
.searchBox .txtInput{background:none repeat scroll 0 0 #FFFFFF;margin:-1px 0 0 5px;padding:0;width:180px;}
.pageheader{margin:0px;}
.globalselect{float:left;left:-115px;margin:0;overflow:hidden;position:absolute;top:-1px;width:110px;}
.globalselect select{font-size:12px;height:20px;padding:0 0 0 0;width:100%;}


.autobdr { border: 1px solid #5ec2eb; outline: none; font-size: 12px; font-family: inherit; padding: 2px; }
.pagination {clear: both; height: 25px; margin-bottom: 10px; position: relative; background: none; border-top: 1px solid #DEDEDE ; }
.pagination select{margin-top: -2px;}
.formBox { background: none repeat scroll 0 0 #ECEDED!important }
a.tipLink, input.tipLink { background: url('../images/sprite_icon_global.gif') -30px -104px no-repeat}
a.tipLink:hover, input.tipLink:hover { text-decoration: none; background-position: 0px -104px}
a.tipLink, a.infoLink, input.tipLink { border: 0 none !important; direction: ltr; display: inline-block; font-size: 1px; margin: -3px 5px 0; overflow: hidden; text-decoration: none; text-indent: -9999px; cursor: pointer; vertical-align: middle; height: 11px; width: 11px; }
html.ie6 table a.tipLink, html.ie6 table a.infoLink, html.ie6 table input.tipLink, html.ie7 table  a.tipLink, html.ie7 table a.infoLink, html.ie7 table input.tipLink {text-indent:0px !important;}
.bdr { border: 1px solid #E9E9E9 !important }
.sep2 { border-color: #d3d6db !important; border-style: dashed !important; }
.ih { _height: 15px; height: 18px; }
.superscript { color: #000; font-size: 11px; font-weight: bold; background-color: #ffcc00; padding: 1px 3px; }
.innerTitle { border-top: 2px solid #DEDEDE }
.tblbdr tr th, .tblbdr tr td { border: 1px solid #DEDEDE }
.closed3 { display: none }
#primarybentbody td { padding-top: 10px; padding-bottom: 10px; vertical-align: middle; }
.infoModule .lblSelectPair li, .successModule .lblSelectPair li, .noticeModule .lblSelectPair li, .alertModule .lblSelectPair li { margin: 0; padding: 5px 15px 3px; }
#addbank textarea.fw { width: 100%; _width: 99% !important; *width: 99% !important; }
.col40-20-40 { height: 1% }
.col40-20-40 .second { width: 19.5%; _width: 15%; float: left; }
.col40-20-40 .col { width: 39.5%; float: left; } /*IE6 FIX*/
.scrollList { border: 1px solid #CCCCCC; height: 300px; overflow-x: hidden; overflow-y: auto; }
.scrollList ul.popListStyle li { padding: 5px 5px 5px 10px; margin-bottom: 0px; width: 100%; *width: 90%; border-width: 0 0 1px 0; border-color: #d6d6d6; border-style: solid; }
.relheight { position: relative!important; height: 1%!important; }
.contentfix { padding: 10px; height: 1%!important; }
.chartContainer { position: static !important }
.mtxs { margin-top: 2px }
.ui-icon-refresh { background-image: url(../images/ui-icons_222222_256x240.gif); background-position: -64px -80px; width: 15px; height: 17px; }
.rsep { border-right: 1px solid #d6d6d6 !important }
.hasPlaceholder { color: #999; font-size: 12px !important; }
.shd5 { background-color: #FFFDE0 }
.txthlt6{color:#990000 !important;}
.descl{color:#990000 !important; font-weight: bold }
.txtjstfy {text-align:justify; }
.clearLink, .emailLink, .enlargeLink, .smallerLink { font-weight: bold; font-size: 11px; text-transform: uppercase; }
.clearLink:hover .icon, .icclearLink:hover { background-position: -150px -6px }
.clearLink, .clearLink:hover { text-decoration: none }
.ui-dialog-titlebar-close { padding: 0px 6px 0px 0px !important }
.popup-close:active, .popup-close:hover, .ui-dialog-titlebar-close:active, .ui-dialog-titlebar-close:hover { opacity: .50; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); filter: alpha(opacity=50); }
.lblFieldPair { margin-bottom: 16px }
.lblFieldPair .input { color: #333333; }
.lblFieldPair label { color: #666666 }
.col .lblFieldPair .lbl {line-height: 18px; width: 44% !important; float: left; }
.col .lblFieldPair .input { margin-left: 0 !important; width: 48% !important; float: left; padding-left: 10px }
.col section .lblFieldPair .lbl {width: 20% !important}
.col section .lblFieldPair .input { width: 75% !important}
.col section .lblFieldPairGroup .lblFieldPair {width: 50%}
.col section .lblFieldPairGroup .lblFieldPair .lbl {width: 40% !important}
.col section .lblFieldPairGroup .lblFieldPair .input { width: 40% !important}
.col section .lblFieldPairGroup .nth{width: 45% !important}
.col section .lblFieldPairGroup .nth .lbl{width: 20% !important}
.col section .lblFieldPairGroup .nth .input{width: 60% !important}
.lblFieldPair input, .lblFieldPair select, .lblFieldPair textarea {border:1px solid #5EC2EB}
.ie6 .lblFieldPair input[type=radio],  .ie6 .lblFieldPair input[type=checkbox]{border: 0px}
.ie7 .lblFieldPair input[type=radio],  .ie7 .lblFieldPair input[type=checkbox]{border: 0px}
.ui-jqgrid-htable, .ui-jqgrid-btable { width: 100% }
.ui-jqgrid-htable input, .ui-jqgrid-htable select { font-family: Arial; font-size: 10px !important; text-transform: uppercase; color: #0095c7; font-weight: bold; letter-spacing: 50; padding: 0px; margin: 0px !important; }
.txtmlg { font-size: 18px; color: #6a7176; font-weight: bold; }
.txtxs { font-size: 11px; font-weight: bold; }
.ui-paging-info, .ui-pg-div { font-size: 10px; color: #333333; }

th.header { background-color: #ebebeb!important }
th.headerSortUp { background: url('../images/sprite_global.gif') right -2413px no-repeat !important }
th.headerSortDown { background: url('../images/sprite_global.gif') right -2490px no-repeat !important }
th.headerSortUp, th.headerSortDown { background-color: #ddddde !important }
.ui-state-disabled .ui-pgtable-link-color, .ui-state-disabled .ui-pgtable-nextlink, .ui-state-disabled .ui-pgtable-prevlink { font-family: Arial; font-size: 10px; color: #999999; text-transform: uppercase; }
.ui-pgtable-link-color, .ui-pgtable-nextlink, .ui-pgtable-prevlink { font-family: Arial; font-size: 10px; color: #0095c7; text-transform: uppercase; }
.ui-pg-table table tr:last-child { border: 0px !important }
.ui-paging-info { font-family: Arial; font-size: 10px; color: #333333; }
/* Added for table footer */
table tfoot{background-color:#F1F1F1 !important; border-bottom: 1px solid #E2E6EA !important; font-weight: bold }
.icon, .alertIcon, .icLike, .icDislike, .icsuccess, .icfail, .icAlert, .icInfo, .icNotice, a.infoLink, input.infoLink, .up .icon, .down .icon, .popupLink, .popup-close-icon, .modal .ui-icon-closethick, .video-icon, .infoHover2 .pointer, .ie6 .infoHover2 .pointer, .ie7 .infoHover2 .pointer, html.ie8 .infoHover2 .pointer, .ui-datepicker-header .ui-icon, .bx-next, .bx-prev, .ui-slider .ui-slider-handle, html.ie6 span.disabledFund a, html.ie7 span.disabledFund a { background-image: url("../images/sprite_icon_global.gif") }
.sep3, .sep4, .ellipsis, .inputDate, th.header, th.headerSortUp, th.headerSortDown, .progressRule, .noticeIcon, .searchBox .btnSubmit, a.edit span, a.printBtn span, a.pdfDownload span, a.pdfOpen span, a.pdfOpen, .editIcon, .pointerLeft .pointer, .pointerRight .pointer, .infoHover .pointer, .pointerRight .pointer, .pointerTop .pointer, .pointerBottom .pointer, .pieCheckmark, .piePalette, .addressBackground, html.ie8 .infoHover .pointer, html.ie7 .infoHover .pointer, html.ie6 .infoHover .pointer, html.ie8 .pointerRight .pointer, html.ie7 .pointerRight .pointer, html.ie6 .pointerRight .pointer, html.ie8 .pointerTop .pointer, html.ie7 .pointerTop .pointer, html.ie6 .pointerTop .pointer, html.ie8 .pointerBottom .pointer, html.ie7 .pointerBottom .pointer, html.ie6 .pointerBottom .pointer, .status span.success, div.success { background-image: url("../images/sprite_global.gif") }
.inputyearmonth { background: url("../images/sprite_global.gif") no-repeat scroll -870px -500px transparent; color: #272829; cursor: pointer; padding: 3px 4px !important; vertical-align: middle; width: 100px; }
#container { background: none !important }
.ib { display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }
iframe.ie6SelectOverlap {position: absolute; z-index: -1; filter: mask(); border: 0; margin: 0; padding: 0; top: 0; left: 0; overflow: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); }
/*show more/Less for ATOM - Needs to fix a - temporary*/
button.moreText, button.hideText {color:#0B7599;background:transparent;margin-left:6px;}
.printOnly { display: none !important } 
ul.lblinline {float: left;overflow: hidden}
ul.lblinline li{padding: 0;margin-right: 10px}
ul.lblinline input, ul.lblSelectPair input{height: 13px;width: 13px;vertical-align: baseline;border: none;margin-right: 2px}
ul.lblinline input, ul.lblSelectPair input{margin-right: 3px;}
ul.lblSelectPair label{margin-left: 10px}

/* table styleB - nested summary table */
table.styleB { border-collapse: collapse; margin-bottom: 0px; }
table.styleB .tabletdnbdr tr td.nbdr { border-bottom: none!important }
table.styleB th.header, table.styleA th.header { background-color: #ebebeb!important; background-position: right -3492px !important;padding-right:20px; }
table.styleB th.headerSortDown, table.styleA th.headerSortDown { background: url('../images/sprite_global.gif') right -3106px no-repeat !important }
table.styleB th.headerSortUp, table.styleB th.headerSortDown, table.styleA th.headerSortUp, table.styleA th.headerSortDown { background-color: #ddddde !important }
table.styleB th.headerSortUp, table.styleA th.headerSortUp { background: url('../images/sprite_global.gif') #ddddde right -2408px no-repeat !important }
table.styleB tr.last td { border-bottom: none !important }
table.styleB tr, table.styleA tr { padding: 0px }
table.styleB tr { padding: 3px 5px; border-right: 0px solid #efefef; }
table.styleB tr:last-child, table.styleA tr:last-child { border-bottom: 1px solid #e2e6ea !important }
table.styleB tr:last-child td, table.styleA tr:last-child td { border-bottom: 0px !important }
table.styleB tr td, table.styleA tr td { font-family: Arial; color: #3a3c3e; font-size: 12px; padding: 5px 10px !important; border-bottom: 1px solid #efefef; vertical-align: middle; }
table.styleB tr th { background-color: #f5f5f6; color: #3A3C3E; padding: 5px 15px; vertical-align: middle; font-size: 10px; font-weight: bold; text-transform: uppercase; text-align: left; border: 0px; }
table.styleB tr th, table.styleA tr th { font-family: Arial; color: #5c6268; font-size: 10px; font-weight: normal; text-transform: uppercase; text-align: left; padding: 4px 10px 4px 9px; vertical-align: middle; border: 0px; background-color: #ebebeb; }
table.styleB tr td { padding: 5px 15px !important; border-bottom: 1px solid #efefef; vertical-align: middle; }
table.styleB th { padding: 5px }
/* table styleB - ends */
table.styleA th { background-color: #ebebeb; color: #3A3C3E; padding: 5px 15px; vertical-align: top; font-size: 10px; font-weight: bold; text-transform: uppercase; text-align: left; border: 0px; }
table.styleA td { font-size: 12px }

/*added for index page styles starts*/
body.indexpage { height: 100% }
.indexcontainer { margin: 0 auto; width: 900px; height: 100%; }
.udwikilogo { margin-top: 45px }
.bodyoverflow { overflow: hidden; width: 100%; height: 100%; }
.fixheader { position: absolute; margin: 0px; z-index: 2; top: 0px; bottom: auto; left: 0px; right: 0px; width: auto; height: 51px; }
.contentscroll { width: 100%; height: 100%; position: relative; }
/*added for index page styles ends*/
.udwikilogo { margin-top: 45px }
#container #page-wrap { margin: 5px 10px 0; padding-top: 10px; padding-bottom: 10px; }

.fontgreen { color: #096 }
.textareaw70 { width: 70% }
.assetbox { padding: 0; border: 2px solid #666; _height: 99%; }
.assetbox ul { margin: 0; padding: 0; }
.assetbox ul li { list-style-type: none; margin: 5px; font-weight: bold; font-size: 14px; background: #ececec; padding: 5px; _height: 99%; }
.assetbox ul li span { display: block; font-size: 12px; padding-left: 21px; }
#AssetBblock .lblFieldPair .lbl { width: 400px }
table.funds tbody td { border-top: none }
.chartTitleTxt { color: #004F9A!important; font-weight: bold; font-size: 16px; text-align: center; padding-top: 0px; padding-bottom: 10px; }
.lblFieldPairMedium { margin-bottom: 15px; zoom: 1; }
/* style added for modal overlay within modal overlay */
.popup-draggable, .ui-draggable { cursor: auto }
.ui-dialog { margin: 0px auto; border: 1px solid #c4c8cb; -moz-box-shadow: 0px 0px 16px rgba(0,0,0,0.1); -webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.1); box-shadow: 0px 0px 16px rgba(0,0,0,0.1); }
.ui-dialog .body { padding: 15px 15px; background: #fff; }
.ui-dialog .head, .ui-dialog-titlebar { height: 26px; -height: 26px; padding: 10px 8px 0px 21px; background: #e3e7ea; color: #333; font-size: 14px; font-weight: bold; white-space: nowrap; }
.ui-dialog-content { background: #fff }

/*Added for datepicker*/
.inputyearmonth { background: url("../../../assets/release_2012-12/images/sprite_global.gif") no-repeat scroll -870px -500px transparent; color: #272829; cursor: pointer; padding: 3px 4px !important; vertical-align: middle; width: 100px; }
ul.navList li { line-height: 1.5em }

   /* -------------------------------------------
      START - styles for Panels
   ------------------------------------------- */
.panels { border: 0; padding-bottom: 0; margin-top: 0; margin-bottom: 0; }
.panels .detail table { border-bottom: 4px solid #fff }
.panels tr.activated { background-color: #f7f8f9 }
.panels .panelTitle { padding-left: 15px; color: #333; }
.panels .hdexpanded { color: #000; border-bottom: 1px solid #efefef !important; margin-bottom: 0px; }
.panels .hdexpanded { padding: 0; background-color: #fff; }
.panels .panelDate { font-size: 11px; font-weight: normal; color: #99a1a9; padding-left: 10px; }
.panels a.expanded, .panels a.collapsed { color: #0052a3 !important; height: 15px; padding: 0px !important; float: left; }
.panels a.expanded:hover, .panels a.collapsed:hover { color: #0052a3; text-decoration: none; }
.panels a.collapsed .icon { background-position: -182px -386px!important; display: inline-block; vertical-align: middle; overflow: hidden; margin-right: 5px; margin-top: -1px; height: 18px; }
.panels a.collapsed .icon, .panels a.expanded .icon { background: url('../images/sprite_icon.gif') no-repeat 0 0 }
.panels a.expanded .icon { background-position: -218px -387px!important; display: inline-block; vertical-align: middle; overflow: hidden; margin-right: 5px; margin-top: -1px; }
.panels .content { display: none; margin-bottom: 40px; height: auto; }
.panels .content .bd { padding: 0 0 }
.panels .content .bd .panels .content .bd { padding: 0 0; margin-top: 0; }
.panels .content .bd .panels .hd { padding: 0 0; margin: -1px 0 0 0; border-top: 1px solid #efefef; }
.panels .panels { margin: -1px 0 -1px 0; border: none; padding: 0 16px; }
.panels .panels .bgexpanded { padding-bottom: 0px; border-bottom: none; display: block; margin-bottom: 0px; }
.panels .panels .hdexpanded { padding: 5px 0px; background-color: #FFF; cursor: pointer; }
.panels .panels .hdexpanded .txthlt { color: #0079c2 !important }
.panels .panels a.expanded, .panels .panels a.collapsed { color: #3a3c3e !important; outline: none; display: inline-block; height: 15px; font-size: 15px; font-weight: normal !important; }
.panels .panels a.expanded:hover, .panels .panels a.collapsed:hover { color: #666; text-decoration: none; font-size: 15px; font-weight: normal !important; }
.panels .panels .panels { border: none; margin: 0; padding: 0; }
.panels .panels .hd { background-color: #FFF; cursor: pointer; font-size: 15px; font-weight: normal; padding: 5px 0px; position: relative; border: none; margin-bottom: 0px; }
.panels .panels .hd h3 { margin: 0px; padding: 10px 0 6px 0 !important; border: none; font-size: 14px; }
.panels .panels .hd h3 span.total { font-size: 14px !important }
.panels .panels .bd { padding: 10px 20px 15px 20px }
.panels .hd {padding: 0; border-top: 0; border-bottom: 1px solid #efefef; background: none !important; margin-bottom: 40px; filter: none !important; }
.panels .hdexpanded { padding: 0; filter: none; background-image: none; background-color: transparent !important; cursor: pointer; border: 0px; margin-top: 0px; }
.panels .hdexpanded{margin-bottom: 0px;}
.panels .hdexpanded h3 { border-bottom: 0 solid #efefef }
.panels .hd h3 { overflow: hidden; border: none; margin-bottom: 2px; font-weight: bold; font-size: 17px; min-height: 20px; height: auto !important; height: 20px; }
.panels .hd h3 a.expanded span.icon, .panels .hd h3 a.collapsed span.icon { left: 0!important; position: relative!important; }
.panels .hd h3 span.flr { font-size: 13px }
.panels .hd h3 .total { font-size: 17px; color: #333333; }
.panels .hd h3 .date { font-size: 11px; color: #99a1a9; font-weight: normal; }
.panels .hd a { background-color: #fff; cursor: pointer; text-decoration: none; }
.planpanel .panels .hd { background-color: none; border: 1px solid #efefef; color: #00A6DE; cursor: pointer; padding: 0px; position: relative; height: 26px; }
.planpanel .panels .hd h3 { margin-top: 2px; margin-bottom: 4px; border-bottom: 0px; padding-bottom: 0px; }
.planpanel .panels .hd a { background-color: transparent !important }
.planpanel .panels .hd h3 a.expanded span.icon, .planpanel .panels .hd h3 a.collapsed span.icon { top: 0px }
.planpanel .panels .hdexpanded { padding: 0px; background-color: none; cursor: pointer; }
.planpanel .panels .hdexpanded .txthlt { color: #0079c2 !important }
.planpanel .panels .hdexpanded a:link, .planpanel .panels .hdexpanded a:hover, .planpanel .panels .hdexpanded a:visited { color: #00A6DE; text-decoration: none; }
.planpanel .panels .hd { background-color: none !important; position: relative; cursor: pointer; font-size: 10px !important; color: #0095c7; margin-top: 5px; margin-bottom: 5px; height: auto; display: block; background: none; border: 0px; }
.planpanel .panels .content { display: none; padding-left: 0; }
.planpanel .panels .content .bd { padding-left: 0 }
.planpanel .panels a.expanded, .planpanel .panels a.collapsed { outline: none; display: inline-block; height: 18px; font-size: 12px; font-weight: bold !important; background-color: none; height: auto; }
.planpanel .panels a.expanded:hover, .planpanel .panels a.collapsed:hover { color: #0095c7  !important; text-decoration: none; }
.planpanel .panels a.collapsed .icon { background-position: -201px -31px!important; display: inline-block; vertical-align: middle; overflow: hidden; width: 6px; height: 8px; }
.planpanel .panels a.expanded:hover, .planpanel .panels a.collapsed:hover { color: #00A6DE; text-decoration: none; font-size: 12px; font-weight: bold !important; }
.planpanel .panels a.collapsed .icon, .planpanel .panels a.expanded .icon { background: url('../images/sprite_icon.gif') no-repeat 0 0 }
.planpanel .panels a.expanded .icon { background-position: -171px -31px!important; display: inline-block; vertical-align: middle; overflow: hidden; width: 6px; height: 8px; }
.planpanel .panels tr { background-color: none }
.planpanel .panels a.expanded, .planpanel .panels a.collapsed { font-weight: bold; nowhitespace: afterproperty; nowhitespace: afterproperty; outline: none; color: #0095c7 !important; /*margin-left: 8px;*/; ; }
.planpanel .panels table.styleB tr.detail th { padding: 5px 16px 5px 14px !important } /*slide 8*/
.planpanel .panels table.styleB tr td { padding: 15px 10px 15px 9px !important }
/*Change done as per Comments from UX - to increase font size and bold the heading*/
.planpanel .panels table.styleB tr.detail table tr th { font-weight:bold;font-size:11px; text-align: left; text-transform: uppercase; padding-left: 5px !important; }
.planpanel .panels table.styleB tr.detail td { padding: 4px 0 0 0 !important }
.planpanel .panels table.styleB tr.detail td table td { padding-left: 5px !important; padding-right: 11px!important; }
/*.planpanel .panels table.styleB tr.detail.pds td table td{padding-right:11px!important;}*/
table.styleB tr.detail td table td { padding-left: 8px !important; border-color: #efefef !important; }
.bgexpanded { background: none !important; -webkit-box-shadow: none; box-shadow: none; -moz-box-shadow: none; border-bottom: 1px solid #efefef; }
/*.panels .bgexpanded .bd, .panels .bgexpanded{ display: block !important}*/
.planpanel table table th { background-color: #f7f8f9 !important }
.jq-tabs .panels .hd, .jq-tabs .panels .hdexpanded{border: none !important; border-bottom: 1px solid #efefef !important;}
table th input, table th select {color: #5C6268;width:98%; font-size:11px; display: block;}
.stepOff a {color: #75787B}
.panelIntermediate{margin-top: -20px; margin-bottom: 40px}
/* -------------------------------------------
      END - styles for Panels
   ------------------------------------------- */
   
/* -------------------------------------------
      START - styles for Tabs
   ------------------------------------------- */
.tabs { margin: 0; font-size: 13px; font-weight: normal; padding: 2px 15px 0 20px; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e6e9ea', endColorstr='#eef1f3'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e6e9ea', endColorstr='#eef1f3')"; background-image: -moz-linear-gradient(#e6e9ea, #eef1f3); background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e9ea), to(#eef1f3)); background-image: -webkit-linear-gradient(#e6e9ea, #eef1f3); background-image: linear-gradient(top, #e6e9ea, #eef1f3); background-image: -o-linear-gradient(top, #e6e9ea, #eef1f3); background-image: -ms-linear-gradient(top, #e6e9ea, #eef1f3); border-bottom: 1px solid #dcdfe4; border-top: 1px solid #f1f2f3; clear: both; zoom: 1; position: relative; }
.tabs:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.tabs li { float: left; list-style-type: none; margin: 0 10px 0 0; }
.tabs li a.selected { border-left: 1px solid #d6d6d6; border-right: 1px solid #d6d6d6; border-top: 1px solid #d6d6d6; top: 1px; background: #fff!important; font-weight: normal; padding-right: 10px; padding-left: 10px; _line-height: 15px; }
.tabs li a.selected:link, .tabs li a.selected:visited, .tabs li a.selected:hover { color: #444 }
.tabs a { display: inline-block; position: relative; top: 1px; background-color: transparent; _background-color: #EBEEF0!important; border: none; box-shadow: none; font-size: 13px; }
.tabs a:hover { text-decoration: none; box-shadow: none; color: none; }
.tabscontent .bd { display: none }
.tabscontent .selected { display: block !important }
/* -------------------------------------------
      END - styles for Tabs
   ------------------------------------------- */

.icInfoSmall{background: url('../images/sprite_icon_global.gif') -246px -90px no-repeat;height:14px;width:12px;position: relative !important;font-size:0;display: inline-block;vertical-align:middle !important;}



body {
    background: url("../images/bg_body4.jpg") repeat-x scroll center top #FFFFFF;
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 140%;
}

.content.oneCol .pagecontent #wrapper {
   
    width: 1200px !important;
}
.content.oneCol .pagecontent .pagetitle .pageTitleWrapper {
   
    width:1200px !important;
    margin:auto !important;
    
    float:none;
    display: block;
}
#wrapper {
    margin-left: 5px;
    min-width: 740px;
    padding: 0 10px 15px 0 !important;
    position: relative;
   
}

.content.twoColL .pagecontent {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 15px;
    width: auto;
}


h3 {
    font-size: 16px;
    margin: 20px 0 10px;
    padding: 0;
}

header {
    height: 90px;
    position: relative;
    width:1240px;
    margin:auto !important;
}
.searchBox {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
.searchBox {
    background: none repeat scroll 0 0 #FFFFFF;
    display: inline-block;
    padding: 2px;
}

.content.oneCol .pagecontent .rightcol{

    display: block !important;
}


.content {
    margin: 0 auto;
    padding: 0;
    width: auto;
}


nav {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    z-index: 9999;
}

ul.l1nav {
    clear: both;
    font-family: gustan;
    list-style-type: none;
    margin-left: 130px;
    position: absolute;
    right: 0;
    top: -32px;
}


ul.l1nav li {
    border: 0 none;
    float: left;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

ul.l1nav {
    font-family: gustan;
    list-style-type: none;
}

ul.l1nav a:link, ul.l1nav a:visited {
    color: #494A4C;
    margin-left: 10px;
    padding: 8px 12px;
    position: relative;
    z-index: 9999;
}

ul.l1nav a:link, ul.l1nav a:visited {
    color: #494A4C;
}

a:link, a:visited {
    outline: medium none;
    text-decoration: none;
}

ul.l1nav li {
    font-size: 13px;
    font-weight: bold;
}

.icDropdown {
    background-position: -51px -61px;
    height: 8px;
    width: 8px;
}
.icon {
    
    display: inline-block;
    vertical-align: middle;
}

.logo {
    left: 0;
    position: absolute;
    top: 18px;
    text-indent:0em
}

.headertitle a{

	 color: #FFFFFF !important;
	}
a {
    cursor: pointer;
}

.headertitle {
    color: #FFFFFF !important;
    display: inline;
    font-size: 18px;
    font-weight: normal;
    left: 100px;
    margin: 0;
    padding-bottom: 5px;
    position: absolute;
    top: 9px;
    vertical-align: top;
    border-left: 0px;
    line-height: 30px;
}

#globalutil {
    clear: both;
    font-size: 11px;
    position: absolute;
    padding-right:33px;
    right: 0;
    top: 7px;
}


.lblFieldPair .lbl {   text-align: left !important;width: 70px !important;}
.lblFieldPair .input {   margin-left: 70px !important;}
.two_third { margin-left: 25px !important; width: 58% !important;}
.globalselect {   float: left; left: -145px; margin: 0; overflow: hidden; position: absolute;top: -1px; width: 140px;}
.hcls{font-size:13px;font-weight:bold;color:#90969A;margin-top:10px;margin-bottom:10px;padding-bottom:5px;}
.fxSize{margin-right:0px;}
.ie7 .fxSize{margin-right:15px;}

.pSize{ margin-left:0px;}
.ie7 .pSize{ margin-left:2px; }
.adSize{margin-right:20px;width:55% !important;}
.ie7  .adSize{margin-right:10px;margin-left:0px;width:65% !important;}
.mainWrapper{width:1280px;}
.searchBox{padding: 0px 0px 1px 0px !important;}
.divLeftCol{display: block; float: left; width: 300px;}
.divMidCol{display: block; margin-left: 310px; margin-right: 310px;padding-left: 20px;padding-right: 20px;}
.divRightCol{display: block; float: right; width: 300px;}
.editImage{position: absolute;background: url("../images/edicon.jpg") no-repeat;width:16px;height:16px;bottom:-50px;right:5px;}
.deleteImage{position: absolute;background: url("../images/delete.png") no-repeat;width:16px;height:16px;bottom:-50px;right:5px;}
.ie7 .editImage{	right:2px;bottom:2px;}
.adminStyle{width:16px !important;height:16px !important;position: absolute !important;right:5px;bottom:-30px;}
.businessStyle{width:16px !important;height:16px !important;position: absolute !important;right:5px;bottom:-30px;}
.lblFieldPairGroup .lblFieldPair .input {margin-left: 0px !important;}
.divLeftCol .two_third, .divRightCol .two_third{margin-left:5px !important; }
.divLeftCol .one_third, .divRightCol .one_third{width:33.95% !important;}
.divLeftCol .two_third, .divRightCol .two_third{width:62% !important;}
.divLeftCol .editImage, .divRightCol .editImage{bottom: 5px;right: -45px;}

.width95p{width:95% !important;}
.divLeftCol .editImage { bottom: 2px; right: 10px;}
.divLeftCol .deleteImage { bottom: 2px; right: 0px;}
html.ie6 .divLeftCol .editImage { bottom: 17px; right: 15px;}
.divLeftCol .adminStyle { bottom: 5px; right: 1px;}
html.ie6 .divLeftCol .adminStyle { bottom: 25px; right: 17px;}
.divLeftCol .businessStyle{bottom: 3px; right: 7px;}
html.ie6 .divLeftCol .businessStyle{bottom: 49px; right: 5px;}

.panels .hdexpanded{ border-bottom:0px !important; }

.shd6{ background-color:#ece8dd;}

.footer {
    
    background-color:#005EB8;
    color: #FFFFFF;
    margin: 0px auto 0;
    padding: 0 0 0 20px;
    line-height: 50px;
    width:1240px;
}

.content.bgexpanded {
    background-color: #FBFBFB !important;
    box-shadow: none !important;
}

.content.twoColN .pagecontent .pagetitle .pageutil, .content.oneCol .pagecontent .pagetitle .pageutil {
    top: -5px !important;
}

.lightGrayGradient {
    background-image: linear-gradient(#FFFFFF, #F4F4F4) !important;
}

.drw{
width:85%;
}

#marketactivity {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: block;
    height: 85px;
    padding: 12px 0;
    width: 100%;
}

#marketmain {
    margin: 0 auto;
    width: 980px;
}

#parseheader {
    margin: 20px 5px 5px;
    padding: 0 55px 0 10px;
}
#parseheader, .parsebody {
    float: left;
}

.parsebody {
    margin: 5px 10px;
    width: 115px;
}
#parseheader, .parsebody {
    float: left;
}

#parselabel, .parsebodylabel {
    font-weight: 800;
}
#parselabel {
    font-size: 18px;
}

.numbup {
    color: #658D1B;
}
.numbdown {
    color: #CC3333;
}

#parsetext, .parsebodytext {
    color: #CCCCCC;
    font-size: 12px;
}

.parsebodynumber {
    font-size: 16px;
    font-weight: bold;
}

.footerlinks:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.footerlinks {
    clear: both;
}
.footerlinks {
    margin: 0 auto;
    width: 1200px;
}

footer .bd {
    margin: 0 auto;
    padding: 20px 0;
    width: auto;
    font:11px !important;
}

.footerlinks ul {
    margin: 0;
    padding: 1px 0 0;
    width: 850px;
}
.footerlinks .footerbrand, .footerlinks ul {
    float: left;
}

.footerlinks .footermsg {
    float: right;
    margin-left: 25px;
    width: 225px;
}

.footerlinks ul li {
    border-bottom: 1px dotted #D6D6D6;
    border-top: 1px dotted #D6D6D6;
    float: left;
    list-style-type: none;
    margin-left: 10px;
    margin-top: -1px;
    padding: 5px 0;
    width: 230px;
}

footer .copyright {
    background: none repeat scroll 0 0 #005EB8;
    color: #FFFFFF;
    margin: 20px auto 0;
    padding: 0 0 0 20px;
}

.pageutil{

	position:relative;
	right:-15px !important;
	float:right;
	top:-10px;
	 margin: 0 !important;
    padding: 0 !important;
}

.divLeftCol .pageutil
{

	position:relative;
	right:0px !important;
	float:right;
	top:-10px;
	 margin: 0 !important;
    padding: 0 !important;


}
.divLeftCol .pageutil a {
    margin-left: 3px;
}
.pageTitleUD{
width:600px;
   float:left;
}

ul.l1nav {
    font-family: gustan,Arial,Helvetica,sans-serif;
    list-style-type: none;
}


